.list-line-chart {
  //border-top: 2px solid #9EA4AA;
  //background: red;
  border: 1px solid #E8EBED;
  border-radius: 3px;
}


.list-chart {
  border: 1px solid #E8EBED;
  border-radius: 3px;
  height: 200px;
}
