@import '../../css/_theme';

.modal-login {
  //width: 60vw;
  //width: 700px;
  min-width: 400px;
  //min-width: 60vw;

  .header {
    padding: 40px 0px ;
  }
  //
  .body {
    padding: 15px 100px;
  }

  .login-button {
    height: 48px;
  }

  .low {
    color: $black-1;
  }

}

//.modal-90w { max-width: 90% !important; }

//
//
//.modal-content {
//  width: 1024px;
//  //height: 1300px;
//}
