
@mixin reset-input-style {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: $border-radius;
  color: $black;
  background-color: transparent;

  &:hover, &:link {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

button {
  @include reset-input-style;
}

a, a:link, a:hover, a:visited {
  text-decoration: none !important;
}

html, body {
  font-size: 14px;
}


