



.help-tooltip {
  font-size: 14px !important;
  font-weight: normal;
  //pointer-events: auto !important;
  //width: 400px;
  opacity: 1 !important;
}
//.help-tooltip:hover {
//  visibility: visible !important;
//  opacity: 1 !important;
//}
